Let's import our libraries first

In [147]:
import pandas as pd
import numpy as np 
from os import listdir

# 0. Get a feel for the data

Look at all the files we have in our fitbit data folders

In [148]:
files1 = [f for f in listdir("data/fitbit_1")]
files2 = [f for f in listdir("data/fitbit_2")]

In [149]:
print(len(files1))
print(len(files2))

11
18

Apparently they don't have the same length 
So let's see what data is included in both folders

In [150]:
intersection = list(set(files1) & set(files2))
print(intersection)
print(len(intersection))

['minuteStepsNarrow_merged.csv', 'minuteSleep_merged.csv', 'hourlySteps_merged.csv', 'dailyActivity_merged.csv', 'hourlyIntensities_merged.csv', 'minuteMETsNarrow_merged.csv', 'heartrate_seconds_merged.csv', 'hourlyCalories_merged.csv', 'minuteCaloriesNarrow_merged.csv', 'weightLogInfo_merged.csv', 'minuteIntensitiesNarrow_merged.csv']
11

- Apparently all files that are in folder 1 are included in folder 2
- So which ones are not included?

In [151]:
set(files2).symmetric_difference(intersection)

{'dailyCalories_merged.csv',
 'dailyIntensities_merged.csv',
 'dailySteps_merged.csv',
 'minuteCaloriesWide_merged.csv',
 'minuteIntensitiesWide_merged.csv',
 'minuteStepsWide_merged.csv',
 'sleepDay_merged.csv'}

# 1. Merge the intersection of fitbit_1 and fitbit_2 data

In [7]:
# order files1 and intersection
files1.sort()
intersection.sort()
files1 == intersection

True

Double check

In [8]:
for f in files1:
    print(f)

dailyActivity_merged.csv
heartrate_seconds_merged.csv
hourlyCalories_merged.csv
hourlyIntensities_merged.csv
hourlySteps_merged.csv
minuteCaloriesNarrow_merged.csv
minuteIntensitiesNarrow_merged.csv
minuteMETsNarrow_merged.csv
minuteSleep_merged.csv
minuteStepsNarrow_merged.csv
weightLogInfo_merged.csv

In [9]:
for f in intersection:
    print(f)

dailyActivity_merged.csv
heartrate_seconds_merged.csv
hourlyCalories_merged.csv
hourlyIntensities_merged.csv
hourlySteps_merged.csv
minuteCaloriesNarrow_merged.csv
minuteIntensitiesNarrow_merged.csv
minuteMETsNarrow_merged.csv
minuteSleep_merged.csv
minuteStepsNarrow_merged.csv
weightLogInfo_merged.csv

- Concatenate the files that have the same name in each folder. 
- Save them to a new path "data/merged/raw"

In [152]:
path = "data/fitbit_"
save_to_path = "data/merged/raw/"
for f in intersection:
    df1 = pd.read_csv(path + "1/"+ f)  
    df2 = pd.read_csv(path + "2/"+ f)
    df = pd.concat([df1, df2], ignore_index =True)
    df.to_csv(save_to_path + f)
print("Done")

# 2. Convert Minute Sleep data to Daily sleep data

In [153]:
df = pd.read_csv("./data/fitbit_1/minuteSleep_merged.csv")
df.head()

           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198559 entries, 0 to 198558
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      198559 non-null  int64
 1   date    198559 non-null  object
 2   value   198559 non-null  int64
 3   logId   198559 non-null  int64
dtypes: int64(3), object(1)
memory usage: 6.1+ MB

In [155]:
df.date[0]

'3/13/2016 2:39:30 AM'

In [156]:
df.head()

           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637

Let's convert this to a timestamp so it's easier to work with

In [164]:
import datetime 

dti = pd.to_datetime(df["date"][0])

In [165]:
dti

Timestamp('2016-03-13 02:39:30')

In [170]:
print(dti.year)
print(dti.month)
print(dti.day)
print(dti.hour)
print(dti.minute)
print(dti.second)
print(dti.date())

2016
3
13
2
39
30
2016-03-13

Now save the `date` column in a new column `time`

In [171]:
df["time"] = pd.to_datetime(df["date"])

In [172]:
df.head()

           Id                  date  value        logId                time
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637 2016-03-13 02:39:30
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637 2016-03-13 02:40:30
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637 2016-03-13 02:41:30
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637 2016-03-13 02:42:30
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637 2016-03-13 02:43:30

In [210]:
df['just_date'] = df['time'].dt.date

In [211]:
df.head()

,Id,date,value,logId,time,just_date
0,1503960366,3/13/2016 2:39:30 AM,1,11114919637,2016-03-13 02:39:30,2016-03-13
1,1503960366,3/13/2016 2:40:30 AM,1,11114919637,2016-03-13 02:40:30,2016-03-13
2,1503960366,3/13/2016 2:41:30 AM,1,11114919637,2016-03-13 02:41:30,2016-03-13
3,1503960366,3/13/2016 2:42:30 AM,1,11114919637,2016-03-13 02:42:30,2016-03-13
4,1503960366,3/13/2016 2:43:30 AM,1,11114919637,2016-03-13 02:43:30,2016-03-13

In [212]:
df.drop("date", axis = 1, inplace =True)

In [213]:
df.head()

           Id  value        logId                time   just_date
0  1503960366      1  11114919637 2016-03-13 02:39:30  2016-03-13
1  1503960366      1  11114919637 2016-03-13 02:40:30  2016-03-13
2  1503960366      1  11114919637 2016-03-13 02:41:30  2016-03-13
3  1503960366      1  11114919637 2016-03-13 02:42:30  2016-03-13
4  1503960366      1  11114919637 2016-03-13 02:43:30  2016-03-13

- Apparently the `logId` gives us the changes after every sleep cicle.
- Let's see whether we can group our data accorind to the `logId`

In [214]:
# Gives us the first time associated with a given logId
df.groupby(df["logId"]).time.first()

logId
11103653021   2016-03-11 23:29:00
11103710844   2016-03-11 22:42:30
11103729104   2016-03-11 21:31:30
11103744323   2016-03-11 23:43:00
11104043433   2016-03-12 02:43:30
                      ...
11372617693   2016-04-12 00:23:30
11373088895   2016-04-11 22:19:00
11374744422   2016-04-12 01:44:00
11374768075   2016-04-12 06:27:00
11374876178   2016-04-11 22:11:30
Name: time, Length: 556, dtype: datetime64[ns]

In [215]:
# Gives us the last time associated with a given logId
df.groupby(df["logId"]).time.last()

logId
11103653021   2016-03-12 06:38:00
11103710844   2016-03-12 04:39:30
11103729104   2016-03-12 06:34:30
11103744323   2016-03-12 06:58:00
11104043433   2016-03-12 06:12:30
                      ...
11372617693   2016-04-12 06:49:30
11373088895   2016-04-12 04:14:00
11374744422   2016-04-12 07:15:00
11374768075   2016-04-12 08:35:00
11374876178   2016-04-12 06:55:30
Name: time, Length: 556, dtype: datetime64[ns]

In [231]:
# We can subtract these times to obtain the amount of sleep per logId
a = df.groupby(df["logId"]).time.first()
b = df.groupby(df["logId"]).time.last()
sleep_duration = b-a

In [232]:
sleep_duration

logId
11103653021   0 days 07:09:00
11103710844   0 days 05:57:00
11103729104   0 days 09:03:00
11103744323   0 days 07:15:00
11104043433   0 days 03:29:00
                    ...
11372617693   0 days 06:26:00
11373088895   0 days 05:55:00
11374744422   0 days 05:31:00
11374768075   0 days 02:08:00
11374876178   0 days 08:44:00
Name: time, Length: 556, dtype: timedelta64[ns]

# 3. Merge sleep duration with df

In [233]:
df.groupby(df["logId"]).count()

              Id  value  time  just_date
logId
11103653021  430    430   430        430
11103710844  358    358   358        358
11103729104  544    544   544        544
11103744323  436    436   436        436
11104043433  210    210   210        210
...          ...    ...   ...        ...
11372617693  387    387   387        387
11373088895  356    356   356        356
11374744422  332    332   332        332
11374768075  129    129   129        129
11374876178  525    525   525        525

[556 rows x 4 columns]

In [234]:
# Unique Id, logId combinations
combinations = df.groupby(["Id", "logId"]).count().index.tolist()

In [235]:
combinations[0:10]

[(1503960366, 11114919637),
 (1503960366, 11126343681),
 (1503960366, 11134971215),
 (1503960366, 11142197163),
 (1503960366, 11142197164),
 (1503960366, 11150938241),
 (1503960366, 11158035737),
 (1503960366, 11162426404),
 (1503960366, 11171977262),
 (1503960366, 11183536407)]

In [236]:
df1 = pd.DataFrame(combinations, columns = ["Id", "logId"])

In [237]:
df1.head()

           Id        logId
0  1503960366  11114919637
1  1503960366  11126343681
2  1503960366  11134971215
3  1503960366  11142197163
4  1503960366  11142197164

In [238]:
sleep_duration_df = sleep_duration.to_frame()

In [239]:
sleep_duration_df.head()

                       time
logId
11103653021 0 days 07:09:00
11103710844 0 days 05:57:00
11103729104 0 days 09:03:00
11103744323 0 days 07:15:00
11104043433 0 days 03:29:00

In [240]:
sleep_duration_df.reset_index(inplace=True)

In [241]:
sleep_duration_df.head()

         logId            time
0  11103653021 0 days 07:09:00
1  11103710844 0 days 05:57:00
2  11103729104 0 days 09:03:00
3  11103744323 0 days 07:15:00
4  11104043433 0 days 03:29:00

In [242]:
result = pd.merge(df1, sleep_duration_df, how="inner")
result.head()

           Id        logId            time
0  1503960366  11114919637 0 days 07:05:00
1  1503960366  11126343681 0 days 06:25:00
2  1503960366  11134971215 0 days 05:34:00
3  1503960366  11142197163 0 days 05:02:00
4  1503960366  11142197164 0 days 01:02:00

In [243]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556 entries, 0 to 555
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      556 non-null    int64
 1   logId   556 non-null    int64
 2   time    556 non-null    timedelta64[ns]
dtypes: int64(2), timedelta64[ns](1)
memory usage: 17.4 KB

# 4. Merge result and df

In [247]:
df

                Id  value        logId                time   just_date
0       1503960366      1  11114919637 2016-03-13 02:39:30  2016-03-13
1       1503960366      1  11114919637 2016-03-13 02:40:30  2016-03-13
2       1503960366      1  11114919637 2016-03-13 02:41:30  2016-03-13
3       1503960366      1  11114919637 2016-03-13 02:42:30  2016-03-13
4       1503960366      1  11114919637 2016-03-13 02:43:30  2016-03-13
...            ...    ...          ...                 ...         ...
198554  8792009665      1  11357751881 2016-04-09 18:38:00  2016-04-09
198555  8792009665      1  11357751881 2016-04-09 18:39:00  2016-04-09
198556  8792009665      1  11357751881 2016-04-09 18:40:00  2016-04-09
198557  8792009665      1  11357751881 2016-04-09 18:41:00  2016-04-09
198558  8792009665      1  11357751881 2016-04-09 18:42:00  2016-04-09

[198559 rows x 5 columns]

Let's group our results by logId and look at unique dates per logId

In [281]:
import numpy as np
g = df.groupby(['logId', "Id"])["just_date"].apply(lambda x: list(np.unique(x)))
type(g)

pandas.core.series.Series

In [282]:
g.head()

logId        Id
11103653021  6962181067    [2016-03-11, 2016-03-12]
11103710844  6117666160    [2016-03-11, 2016-03-12]
11103729104  2026352035    [2016-03-11, 2016-03-12]
11103744323  2347167796    [2016-03-11, 2016-03-12]
11104043433  4445114986                [2016-03-12]
Name: just_date, dtype: object

- As we can see a person can go to sleep one day and wake up the next day. 
- Let's just consider the first or second entry in our list to be the day that we count the sleep for

We can run the same code with a slight variation. 

Notice the we take the `[0]th` entry of the list

In [285]:
g = df.groupby(['logId', "Id"])["just_date"].apply(lambda x: list(np.unique(x))[0])
g.head()

logId        Id
11103653021  6962181067    2016-03-11
11103710844  6117666160    2016-03-11
11103729104  2026352035    2016-03-11
11103744323  2347167796    2016-03-11
11104043433  4445114986    2016-03-12
Name: just_date, dtype: object

Create a dataframe again

In [287]:
merged = pd.DataFrame(g)
merged

                         just_date
logId       Id
11103653021 6962181067  2016-03-11
11103710844 6117666160  2016-03-11
11103729104 2026352035  2016-03-11
11103744323 2347167796  2016-03-11
11104043433 4445114986  2016-03-12
...                            ...
11372617693 6962181067  2016-04-12
11373088895 8378563200  2016-04-11
11374744422 4445114986  2016-04-12
11374768075 1927972279  2016-04-12
11374876178 7086361926  2016-04-11

[556 rows x 1 columns]

In [289]:
final_df = pd.merge(merged, result, how="inner", on="logId")
final_df

           logId   just_date          Id            time
0    11103653021  2016-03-11  6962181067 0 days 07:09:00
1    11103710844  2016-03-11  6117666160 0 days 05:57:00
2    11103729104  2016-03-11  2026352035 0 days 09:03:00
3    11103744323  2016-03-11  2347167796 0 days 07:15:00
4    11104043433  2016-03-12  4445114986 0 days 03:29:00
..           ...         ...         ...             ...
551  11372617693  2016-04-12  6962181067 0 days 06:26:00
552  11373088895  2016-04-11  8378563200 0 days 05:55:00
553  11374744422  2016-04-12  4445114986 0 days 05:31:00
554  11374768075  2016-04-12  1927972279 0 days 02:08:00
555  11374876178  2016-04-11  7086361926 0 days 08:44:00

[556 rows x 4 columns]

We finally have the dataframe we wanted. Let's export it

In [292]:
final_df.to_csv("Data.csv")